# last revision 2018-03-06
# khx0@posteo.net

# LaTeX files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.tui
*.top
*.tmp
*.mp
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.xwm
*.bib.bak
*.bib.sav

# !main.pdf uncomment if you wish to actually also track the pdf (manual naming)

# Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Mac finder files and hidden folders
.DS_Store

